.day-template {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-gap: 2rem;
    align-self: unset;

    h1 {
        margin-bottom: 0;
    }

    .content {
        flex-grow: 1;

        h1 {
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.125rem;
            line-height: 1.125;
            margin-bottom: .5rem;
        }

        h3 {
            font-size: 1rem;
            line-height: 1.25;
            margin-bottom: .25rem;
        }

        table {
            border: 1px solid var(--text);
            border-spacing: 0;
        }

        th,
        td {
            padding: .25rem .5rem;
            border: 1px solid var(--text);
        }
    }
}

.day {
    &__header {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;

        @media (min-width: $breakpoint) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        a {
            margin-bottom: 2rem;

            @media (min-width: $breakpoint) {
                margin-bottom: 0;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;

    &__previous {
        margin-right: auto;
    }

    &__next {
        margin-left: auto;
    }
}